.feed-card:hover{
    background-color: rgb(247, 247, 247);
}
.feed-action1 {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
}

.feed-action1-part1 {
    display: flex;
}

.feed-action1-catg {
    color: gray;
    padding-right: 10px;
    padding-left: 50px;
}

.feed-action1-catg-link {
    color: #009bec;
}

.feed-action1-part2>img {
    width: 15px;
}


.feed-user {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.feed-user-part1 {
    display: flex;
    width: fit-content;
}

.feed-user-part1-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.feed-user-part1-pic>img {
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
}

.feed-user-part1-name {
    margin-left: 10px;
    font-size: 15px;
    font-weight: bold;
}

.feed-user-part2>img {
    width: 20px;
}

.feed-content {
    padding: 0px 55px;
}

.feed-content-comment{
    font-size: 15px;
    font-weight: lighter;
}

.feed-content-media {
    width: 100%;
    height: auto;
    border-radius: 10px;
    padding: 10px 0px;
}

.feed-content-media>img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    overflow: hidden;
}

.feed-action2 {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.feed-action2-btn {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.feed-action2-btn>img {
    width: 20px;
}